

h1{
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 2rem;
}
p {
    font-size: 12px;
}
#Container-1{
    Background-color: #1f829f;
    color: white;
    width: 90%;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.Contain-All{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.Form-Container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

form{
    font-size: 11px;
    flex-shrink: 1;
    text-align: left;
    width: 154.65px;
}

input{
    flex-shrink:1;
    width: 145px;
}

.buttonhome{
    width: 90%;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 900px) {

    .Form-Container{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        justify-content: flex-start;
    }

}